
{% extends 'base.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href= "{% static 'events/events.css'%}">
    <script src="https://kit.fontawesome.com/a076d05399.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="{% static 'events/main.js' %}" type="text/javascript"></script>    
    
</head>
<body>
    <div class= "all-events">
        <div id="interviews" class= "single-category">
            <h1 class = "title">Interviews
                <button id="add" type="button" class="btn btn-primary" data-toggle="modal" 
                data-target="#add_interview" data-whatever="@getbootstrap">
                <i class="fas fa-plus"></i></button>
            </h1>
        {% for item in interviews %}
            <div class= "single-event">
                <button id="delete" type="button" class="btn btn-primary" data-toggle="modal" 
                    data-target="#delete_interview" data-whatever="@getbootstrap">
                    <i style="margin-top: -20px;"class="fas fa-trash"></i>
                </button>
                <h2>
                    {{item.company}}
                    <br> <span style="font-size: 18px">{{item.location}}</span>
                </h2>
                <h6>
                    {{item.start_time|date:"m-d-Y h:i A"}} - {{item.end_time|date:"h:i A"}}
                </h6>
                {% if item.people.all %}
                <h4><br>With 
                    {% for p in item.people.all %}
                        <li style="margin-left:5%;">{{p}}</li>
                    {% endfor %}
                {% endif %}
                </h4>
                <hr/>
                <h3 id='notes'>Notes:
                    {{item.notes}}
                </h3>
            </div>
            {% endfor %}
        </div>
        
        <div class= "single-category" id="social">
            <h1 class = "title">Social/Networking</h1>
            {% for item in social %}
            <div class= "single-event">
                <button id="delete" type="button" class="btn btn-primary" data-toggle="modal" 
                    data-target="#delete_interview" data-whatever="@getbootstrap">
                    <i style="margin-top: -20px;"class="fas fa-trash"></i>
                </button>
                <h2>{{item.name}} <br><span style="font-size: 20px">{{item.location}}</span></h2> 
                <h6>From: {{item.start_time|date:"m-d-Y h:i A"}}<br>To: &nbsp;&nbsp;&nbsp;&nbsp;{{item.end_time|date:"m-d-Y h:i A"}}</h6>    
                <hr/>
                <h3 id='notes'>{{item.details}}</h3>
            </div>
            {% endfor %}
        </div>

    </div>
</body>
    
<div class="modal fade" id="add_interview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <div class= "single-event">
                    <form method="post" action="">
                        {% csrf_token %}
                        <br>
                        Company <input type="text" name="company">
                        Location <input type="text" name="location">
                        Start <input placeholder="[YYYY-MM-DD hh:mm:ss]" type="datetime" name="start_time">
                        End  <input placeholder="[YYYY-MM-DD hh:mm:ss]" type="datetime" name="end_time">
                        People<input type="text" name="people">
                        Notes<input type="text" name="notes" style="padding-bottom: 30px">
                </div>
            </div>
            <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" value="Submit" class="btn btn-primary">Add Item</button>  
            </div>
                </form>
        </div>
    </div>
</div>
<div class="modal fade" id="delete_interview" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <form method="post" action="">
                    {% csrf_token %}
                    Are you sure you want to delete ?            
                    Company
                    <select name="company">
                            {% for item in interviews %}
                                <option>{{item.company}}</option>
                            {% endfor %}
                    </select>
                    Start Time 
                    <select name="start_time">
                            {% for item in interviews %}
                                <option>{{ item.start_time|date:"Y-m-d G:i"  }}</option>
                            {% endfor %}
                    </select>
                    <div class="modal-footer">
                        <button type="submit" value="Submit" class="btn btn-primary">Yes</button>  
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  
</html>
{% endblock %}