body{
    background-color:rgb(181, 223, 236); 
    font-family: 'Arial'
}
.all-events {
    width: 96%;
    display:inline-flex;
    font-family: "Trebuchet MS";
    margin-left:4%;
}
.title{
    width:103%;
    background-color:rgb(4, 36, 4);
    margin-left: -6px;
    margin-top:-10px;
    color:white;
    border-radius: 5px 5px 15px 15px;
    padding-bottom:20px;
    padding-top:20px;
    font-size: 40px;
    text-align: left;
}
.single-category {
    width: 43%;
    border: 1px solid black;
    margin-left:20px;
    margin-top:20px;
    margin-bottom: -70px;
}
#interviews {
    background-color: rgb(201, 230, 218);
    color: black;
}
#social{
    background-color: rgb(201, 230, 218);
    color: black;
}
.single-category h1 {
    text-align: center
}
.single-event {
    background-color: rgb(90, 9, 79);
    margin:7px;
    border-radius: 3px;
    border: 1px solid black;
    color:white;
}
    
.single-event h3,h4,h5,h6,a,li{
    margin-left: 5%
}
.single-event h6 {
    font-size: 14px;
    
}
.single-event h3{
    padding-top:15px;
    padding-bottom:10px;    
    font-size: 16px;
    margin-top: -10px;
}

.single-event h2 {
    font-size: 39px;
    margin-left: 1%;
    margin-top: 0%;
    margin-bottom:4%;
}
