
{% extends 'base.html' %}
{% load static %}
{% block content %}

<html>
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href= "{% static 'Tasks/tasks.css'%}">
        <script src="https://kit.fontawesome.com/a076d05399.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="{% static 'tasks/main.js' %}" type="text/javascript"></script>    
    
    </head>
<body>
    <br>
    <button id="add" type="button" data-toggle="modal" 
    data-target="#add_task" data-whatever="@getbootstrap">
    <i class="fas fa-plus"></i> Add Task </button>
    <button style="margin-left:0px;"id="add" type="button" data-toggle="modal" 
    data-target="#delete_task" data-whatever="@getbootstrap">
    <i class="fas fa-plus"></i>Delete Task</button>
    <br><br>    
    <div class="main-container">
        {% for item in tasks %}
            <div style="background-color: {{ item.color }} " class="task-item" id="coding-challenge">
                {% if item.task_type == 'Coding Challenge' %}<h6>#CC</h6>{% endif %}
                {% if item.task_type == 'Assignment' %}<h6>#ASN</h6>{% endif %}
                {% if item.task_type == 'Exam' %}<h6>#EXAM</h6>{% endif %}
                {% if item.task_type == 'Other' %}<h6>#EXAM</h6>{% endif %}
                <h1>{{item.model.name}}</h1>
                <h5>Due by: {{item.model.due_by}}</h5>
                <h4><hr/>{{item.model.notes}}</h4>
            </div>
        {% endfor %}
    </div>
</body>

<div class="modal fade" id="add_task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                        <form method="post" action="">
                            {% csrf_token %}
                            <br>
                            Type: 
                            <select name="task_type">
                                <option>Coding Challenge</option>
                                <option>Assignment</option>
                                <option>Exam</option>
                                <option>Other</option>
                            </select><br><br>
                            Company/Name <input type="text" name="name">
                            Due by: <input placeholder="[YYYY-MM-DD hh:mm:ss]" type="datetime" name="due_by">
                            Notes: <input type="text" name="notes" style="padding-bottom: 30px">
                    
                </div>
                <button style="margin-left:0px; border-radius:0%" type="submit" value="Submit" class="btn btn-primary">Add Item</button>  
                <button style="margin-left:0px; border-radius:0%" type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="delete_task" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <form method="post" action="">
                        {% csrf_token %}
                        Are you sure you want to delete ?          
                        <br><b>Company/Name</b>
                        <select name="name">
                            {% for item in tasks %}
                                {% if item.model.company %}
                                <option>{{item.model.company}}</option>
                                {% endif %}
                                {% if item.model.name %}    
                                <option>{{item.model.name}}</option>
                                {% endif %}
                            {% endfor %}
                        </select>
                        <br><b>Start Time/Due by</b> 
                        <select name="due_by">
                                {% for item in tasks %}
                                    <option>{{ item.model.due_by|date:"Y-m-d G:i"  }}</option>
                                {% endfor %}
                        </select>
                        <div class="modal-footer">
                            <button type="submit" value="Submit" class="btn btn-primary">Yes</button>  
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">No</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>  
{% endblock %}