body{
    font-family: 'Trebuchet MS'
}
html, body {
    margin: 0;
    padding: 0;
}   
.main-container {
    width:98%;
    display:flex;
    overflow:hidden;
    flex-wrap: wrap;
    font-family: 'Trebuchet MS';
    margin-left: 1.5%;
}
i{
    color:white;
    font-size:20px;
    padding:10px;
}

button{
    background-color:rgb(29, 51, 31);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color:white;
    margin-left: 1.5%;
}
form input, form select {
    width: 100%;
    border: 2px solid black;
    background-color:rgb(230, 244, 248);
    font-family: 'Trebuchet MS';
    padding: 2px;
}
.task-item {
    width:32%;
    margin: 0.25%;
    padding:3px;
    border: 4px solid black;
    font-weight: 100;
}
.task-item h1, h4, h5, h6{
    margin-top:2px;
    margin-bottom:2px;
    font-weight: bolder;
    color:white;
}
h6{
    text-align:right;
    margin-bottom:-2px;
}
h4{
    font-size: 14px;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-bottom: 2.5px solid white;
    margin: 0.6em 0;
    padding: 0;
}


@media(max-width:500px){
    .task-item{
        width: 100%; 
        margin-bottom :7px;
    }

    .main-container{
        width:100%;
        margin-left:0 ;
    }
}

#delete_task, #addtask{
    font-family: Arial;
    font-size: 18px;
}

#delete_task form, #addtask form{
    padding:10px;
}